* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #ffefce;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/swatch.png);
    background-size: contain;
    /* overflow: hidden; */
}
.container{
    margin: 50px 50px 0 50px;
}
/* Navbar Stuff */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 0 0 0 1rem;
}
.logo h1{
    font-family: 'Comic Neue';
    font-size: 2.5rem;
    font-weight: 700;
    color: #CC8EAC;
}
.navbar ul{
    list-style: none;
    display: flex;
    margin-right: 3%;
}
.navbar li{
    margin: 0 1rem;
    font-family: 'Comic Neue';
    font-size: 1.5rem;
    font-weight: 700;
    color: #CC8EAC;
}
/* Background Images */
.bg3 {
    position: absolute; /* Removes the images from the normal document flow */
    top: 16rem; /* Adjust position as needed */
    left: 2rem; /* Adjust position as needed */
    width: 100%; /* Make sure images cover the desired area */
    height: 100%; /* Make sure images cover the desired area */
    z-index: -1; /* Places the images behind other content */
    opacity: 0.3; /* Optional: Adjusts the opacity of the images */
    overflow: hidden;
}
.bg3 img{
    width: 30rem;
    height: auto;
}
.bg1{
    position: absolute; /* Removes the images from the normal document flow */
    top: 10rem; /* Adjust position as needed */
    left: 25rem; /* Adjust position as needed */
    width: 30px; /* Make sure images cover the desired area */
    height: 30px; /* Make sure images cover the desired area */
    z-index: -1; /* Places the images behind other content */
    opacity: 0.3; /* Optional: Adjusts the opacity of the images */
}
.bg1 img{
    width: 40rem;
    height: auto;
}
.bg2{
    position: absolute; /* Removes the images from the normal document flow */
    top: 15rem; /* Adjust position as needed */
    left: 65rem; /* Adjust position as needed */
    width: 30px; /* Make sure images cover the desired area */
    height: 30px; /* Make sure images cover the desired area */
    z-index: -1; /* Places the images behind other content */
    opacity: 0.3; /* Optional: Adjusts the opacity of the images */

}
.bg2 img{
    width: 25rem;
    height: auto;
}
/* Main */
main{
    display: flex;
    flex-direction: column;
    text-align: center; /* Center text within the main element */
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}

.title h1{
    /* margin: 3rem 0 0 0; */
    font-family: 'Poppins';
    font-size: 8rem;
    font-weight: 700;
    color: #CC8EAC;
}
.subtitle{
    display: flex;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;

}
.subtitle p{
    margin: 0;
    padding: 0;
    height: auto;
    width: 70%;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 300;
}
/* Footer */

.foot{
    display: flex;
    justify-content: space-between; /* Space out items */
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.foot h3, .foot p {
    font-family: "Poppins";
}

@media (max-width: 430px){
    .navbar ul{
        display: none;
    }
    .navbar li{
        display: none;
    }
    .title h1 {
        font-size: 6rem; /* Adjust font size for medium screens */
    }
    .foot h3, .foot p {
        font-size: 10px;
        font-family: "Poppins";
    }
}


@media (min-width: 300px) and (max-width:430px){
    .logo{
        margin: 0;
    }
    .navbar ul{
        display: none;
    }
    .title h1 {
        margin-top: 1rem;
        font-size: 5rem; /* Adjust font size for medium screens */
    }

    .foot{
        display: none;
    }
    main{
        margin-top: 4rem;
    }
    .subtitle p{
        margin: 1rem 0 0 0 ;
        padding: 0;
        height: auto;
        width: 100%;
        text-align: center;
        font-family: 'Poppins';
        font-size: 1.4rem;
        font-weight: 300;
    }
}


/* Styles for mobile devices (portrait) */
